@import '~antd/dist/antd.css';
.logo {
  width: 240px;
  height: 31px;
  /*background: rgba(255, 255, 255, 0.2);*/
  /*margin: 5px 28px 16px 0;*/
  margin: auto;
  float: left;
  color: burlywood;
  font-weight: bold;
  font-size: 35px;
}

.site-layout-background {
  background: #fff;
}